table {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 100%;
  font-weight: bold;
  background-color: rgb(196, 193, 199)
}
 h3 {
   color: #04040b;
   font-family: Arial;
   text-align: left
 }

 